<h2>
  <div class="titleInput">
    Graphics Cards
    <div>
      <input
        [formControl]="name"
        controlFormError
        class="input"
        placeholder="buscar..."
        type="text"
      />
    </div>
  </div>
</h2>
<hr />

<section
  class="scrollableArea"
  infiniteScroll
  [infiniteScrollDistance]="0.3"
  (scrolled)="onScroll()"
>
  <app-graphics-cards-list
    [graphicsCards]="graphicsCards$ | async"
    (cardSelected)="onCardSelected($event)"
  >
  </app-graphics-cards-list>
  <div class="d-flex-center">

    <button
    *ngIf="!(isLoading$ | async).includes(target)"
      (click)="onScroll()"
      class="button"
    >
      Load more
    </button>
    <div
    [class.hidden]="!(isLoading$ | async).includes(target)"
    class="spinner"
  ></div>
  </div>
</section>
